/* AdminServicesList.css */

/* Table styles */
.admin-services-table {
  padding: 2rem;
  width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
}

.admin-header-row {
  background-color: #f8f9fa;
}

.admin-header-cell {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

.admin-tbody {
  background-color: #ffffff;
}

.admin-tbody-row:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-tbody-cell {
  border: 1px solid #dee2e6;
  padding: 12px;
}

.admin-service-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.admin-services-action-buttons {
  display: flex;
  gap: 10px;
}

.admin-services-edit-button,
.admin-services-delete-button {
  cursor: pointer;
}

.admin-services-edit-button {
  color: #007bff;
}

.admin-services-delete-button {
  color: #dc3545;
}

/* Modal styles */
.admin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.admin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

/* Modal heading */
.admin-services-subheading-popup {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.admin-services-img-subheading-popup {
  width: 40px;
  height: 40px;
}

/* Form styles */
.admin-employee-form-group {
  margin-bottom: 15px;
}

.admin-modal .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.admin-modal .form-group label {
  margin-right: 10px;
  font-weight: bold;
  flex-basis: 30%;
  text-align: left;
}

.admin-modal .form-group input,
.admin-modal .form-group textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-basis: 65%;
}

/* Image upload styles */
.admin-employee-image-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.admin-employee-image-upload img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}

.admin-employee-image-upload-text {
  color: rgba(0, 0, 0, 0.5); /* Slightly transparent text color */
  font-size: 16px;
  text-align: center;
}

/* Buttons */
.admin-modal .form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.admin-modal .form-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-modal .form-buttons button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.admin-modal .form-buttons button[type="button"]:hover {
  background-color: #5a6268;
}

.admin-modal .form-buttons button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.admin-modal .form-buttons button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Heading styles */
.admin-services-heading {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-services-heading h2 {
  margin: 0;
}

.admin-services-heading button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-services-heading button:hover {
  background-color: #0056b3;
}
